.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input {
    display: none;
}
.star-rating label {
    font-size: 2rem;
    color: #ffd700;
    cursor: pointer;
}
.star-rating input:checked ~ label {
    color: #f39c12;
}
.star-rating label:hover, .star-rating label:hover ~ label {
    color: #f39c12;
}

td {
    padding: 5px;
    text-align: center;
}

th {
    text-align: center;
}

.imbue {
    font-family: "Imbue", serif;
    font-optical-sizing: 100px;
    font-weight: 500;
    font-style: normal;
  }